:host, main {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

:host {
  background: var(--light-bg-color);
  color: var(--light-color);
}

header > a {
  color: var(--light-link-color);
}

header > a:hover {
  color: var(--light-link-hover-color);
}

@media (prefers-color-scheme: dark) {
  :host {
    background: var(--dark-bg-color);
    color: var(--dark-color);
  }
  header > a {
    color: var(--dark-link-color);
  }
  header > a:hover {
    color: var(--dark-link-hover-color);
  }
}

@media (prefers-color-scheme: light) {
  :host {
    background: var(--light-bg-color);
    color: var(--light-color);
  }
  header > a {
    color: var(--light-link-color);
  }
  header > a:hover {
    color: var(--light-link-hover-color);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

header > a {
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.5s ease;
}

header > a:hover {
  font-size: 1.2rem;
  text-decoration: none;
}